aiohttp==3.8.5
async-timeout==4.0.2
beautifulsoup4==4.12.2
lxml==4.9.3
multidict==6.0.4
numpy==1.24.4
pandas==2.0.2
psutil==5.9.5
PyYAML==6.0.1
requests==2.31.0
python-telegram-bot==20.3
yarl==1.9.2
aiogram==3.1.1